*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

body{
    display: flex;

}


.column-left{
    display: flex;
    flex-direction: column;
    background-color:rgba(201, 241, 190, 0.493);
    width: 30%;
    border: 1px solid;
    margin: 0;
    padding: 0;
     box-shadow: 250px; 
     justify-content: center;
}


.bg{
    display: flex;
    background-color:#ebf3cdf6;
    width: 70%;
    justify-content: center;
    align-items: end;
  
}

.bg-container{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.bg-image{
    height: 200px;

    margin-top: 15px;
    margin-bottom: 25px;

}

.profile{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(233, 222, 222, 0.733);
    
}

.imagen-profile{
 padding-left: 10px;

 justify-content: center;

 justify-content: space-between;
 display: flex;
}

.status{
    margin-top: 5px;
    margin-left: 12px;
    justify-content: center;
    align-items: center;
}

.foto{
    height: 50px;
    border-radius: 50%;
}


.menu{
   display: flex;
   padding: 0;
   margin: 0;
   gap: 2em;
   margin-right: 20px;

}

.boton{
   justify-content: center;
   align-items: center;
   display: flex;
    padding: 10px 0px 10px 0px;

}

.box{
    width: 220px;
    height: 70px;
    background-color: rgb(199, 134, 219);
    border: none;
    border-radius: 3px;
}


.contacto{
    height: 100px;
    justify-content: space-around;
    display: flex;

    border: 1px solid rgba(233, 222, 222, 0.733)

}

.foto-contactos{
    height: 90px;
    border-radius: 50%;
}

.chats{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.info-contactos{
    width: 200px;
    font-size: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.fuente-nombre{
    font-size: 18px;
    font-weight: bolder;
}

.fuente-status{
 font-size: 15px;
 color: gray;
 font-weight: lighter;
}

.content-message{
    font-weight: 300;
}


.link-nchat{
    text-decoration: none;

    color: black;
    font-weight: bold;
}
